<link rel="stylesheet" href="{{ 'brands.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="slider" id="slider" style="background: #F9F5F0 0% 0% no-repeat padding-box;height:400px;width:110%">
  {%- if section.settings.brands_heading1!= blank or brands_heading2!= blank-%}
    <h1 style="padding-left:50px;width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:45px;margin-bottom:50px;margin-top:0px;padding-top:52px;">{{section.settings.brands_heading1}}
    </h1>
    <h1 style="padding-left:50px;width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:25px;margin-bottom:50px;">{{section.settings.brands_heading2}}
    </h1>
  {%- endif -%}
</div>
{% schema %}
  {
    "name": "brands",
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "brands_heading1",
        "label": "Heading1",
        "default": "OUR BRANDS"
      }, {
        "type": "text",
        "id": "brands_heading2",
        "label": "Heading2",
        "default": "我們的品牌"
      }
    ],
    "presets": [
      {
        "name": "t:sections.page.presets.name"
      }
    ]
  }
{% endschema%}



{% javascript %}

  "use strict";

  productScroll();

  function productScroll() {
    let slider = document.getElementById("slider");
    let next = document.getElementsByClassName("pro-next");
    let prev = document.getElementsByClassName("pro-prev");
    let slide = document.getElementById("slide");
    let item = document.getElementById("slide");

    for (let i = 0; i < next.length; i++) { // refer elements by class name

      let position = 0; // slider postion

      prev[i].addEventListener("click", function() {

// click previos button
        if (position > 0) { // avoid slide left beyond the first item
          position -= 1;
          translateX(position); // translate items
        }
      });

      next[i].addEventListener("click", function() {
        if (position >= 0 && position < hiddenItems()) { // avoid slide right beyond the last item
          position += 1;
          translateX(position); // translate items
        }
      });
    }

    function hiddenItems() {

// get hidden items
      let items = getCount(item, false);
      let visibleItems = slider.offsetWidth / 210;
      return items - Math.ceil(visibleItems);
    }
  }

  function translateX(position) {

// translate items
    slide.style.left = position * -210 + "px";
  }

  function getCount(parent, getChildrensChildren) {

// count no of items
    let relevantChildren = 0;
    let children = parent.childNodes.length;
    for (let i = 0; i < children; i++) {
      if (parent.childNodes[i].nodeType != 3) {
        if (getChildrensChildren) 
          relevantChildren += getCount(parent.childNodes[i], true);
        



        relevantChildren++;
      }
    }
    return relevantChildren;
  }
{% endjavascript %}}}}}