
<div style="height:30px;">
  <marquee  scrollamount="5" style="background: #F9F5F0 0% 0% no-repeat padding-box;height:30px;">{{ section.settings.marquee }}</marquee>
</div>




{% schema %}
  {
    "name": "Marquee",
    "settings": [
    {
      "type": "text",
      "id": "marquee",
      "label": "Text",
      "default": "歡迎光臨小豬集雜貨店（香港$480 / 澳門$700 / 台灣$1800順豐免運 ) Please contact us for worldwide shipping!"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}