<div style="width: 1920px;height: auto;padding-left:50px;background: #EDE7DB 0% 0% no-repeat padding-box;">
  {%- if section.settings.news_heading1!= blank or news_heading2!= blank-%}
    <h1 style="width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:45px;margin-bottom:50px;">{{section.settings.news_heading1}}</h1>
    <h1 style="width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:25px;margin-bottom:50px;">{{section.settings.news_heading2}}</h1>
  {%- endif -%}

</div>
{% schema %}
  {
    "name": "News",
    "settings": [
    {
      "type": "text",
      "id": "news_heading1",
      "label": "Heading1",
      "default": "NEWS"
    },
    {
      "type": "text",
      "id": "news_heading2",
      "label": "Heading2",
      "default": "最新動向"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}