.news_bon {
    border: none;
    position: absolute;
    top: 64%;
    font-size: 23px;
    font-weight: 200;
    left: 2%;
    z-index: 1;
    color: #858181;
  }
  .news_bon:nth-of-type(2) {
    left: 95%;
    text-align: right;
    top: 64%;

  }
  .news_section {
    top: 50%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .news_section::-webkit-scrollbar {
    visibility: hidden;
  }
  .news_div {
    margin: 20px;
    position: relative;
    left: 0;
    text-align: center;
    transition: 0.5s;
    display: inline-block;

  }